@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import '../App/App.css';

.landingPage {
    width: 100%;
    font-size: 30px;
    text-align: center;
}

.landingPage__meet {
    margin: 0 auto;
}

.landingPage__title {
    font-family: 'Righteous', cursive;
    letter-spacing: 2px;
    line-height: 1;
    font-size: 1.5em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.landingPage__learnMorebutton {
    margin-top: 8vh;
    font-size: 0.75em;
    border: 2px solid #49c0c8;
    color: #49c0c8;
    background-color: #FFF;
}

.landingPage__learnMorebutton:hover {
    color: white;
    background-color: #49c0c8;
}

.landingPage__description {
    margin: 0 2vw;
}

@media only screen and (min-width: 450px) {
    .landingPage__title {
        font-size: 1.5em;
        letter-spacing: 10px;
    }
}

@media only screen and (min-width: 600px) {
    .landingPage__title {
        font-size: 2.5em;
        letter-spacing: 20px;
    }
}

@media only screen and (min-width: 850px) {
    .landingPage__title {
        font-size: 3.5em;
    }
}

@media only screen and (min-width: 800px) {
    .landingPage {
        font-size: 2em;
    }
}