@import '../App/App.css';

.project {
    background: #ffffff80;
    padding: 0.5vh 1vw;
    margin: 1vh 0.5vw;
    line-height: 0.5;
    border-radius: 5px;
}

.project:hover {
    font-weight: 700;
}

.project__nav {
    text-decoration: none;
    color: var(--main-text-color);  
}

.project__name {
    letter-spacing: 1px;
    line-height: normal;
    margin: 0.5em 0;
}

.selectedProject {
    background: var(--productify-green);
}