@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import '../App/App.css';

.demoMessage {
    width: 80%;
    text-align: center;
    line-height: 2;
}

.demoMessage__productify {
    font-family: 'Righteous', sans-serif;
    letter-spacing: 2px;
    color: var(--main-accent-color);
}

@media only screen and (min-width: 600px) {
    .signUp {
        font-size: 1.5em;
        margin-top: 5vh;
    }

    .demoMessage {
        width: 60%;
    }
}