@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');

.logIn__form  {
    display: flex;
    flex-direction: column;
    line-height: normal;
}

.logIn__form > .logIn__submitButton {
    font-size: 0.75em;
    padding: 8px;
    margin: 2vh auto;
    width: 60%;
}

.logIn__form > label {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 2vh;
    font-size: 0.9em;
}

.logIn__form > input {
    font-size: 0.75em;
    padding: 1vh 0 1vh 0;
    width: 35vw;
    margin: 0.5vh 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}