.userAvatar {
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.userAvatar__initials {
    position: relative;
    top: 15px;
    font-size: 30px;
    line-height: 30px;
    color: #FFF;
    font-family: "Nunito", monospace;
    font-weight: bold;
}

.userAvatar__link {
  text-decoration: none;
  color: inherit;
}

.userAvatar__menu {
  margin-top: 4vh;
}

@media only screen and (min-width: 600px) {
  .userAvatar {
    width: 90px;
    height: 90px;
  }

  .userAvatar__initials {
    top: 22.5px;
    font-size: 45px;
    line-height: 45px;
  }

  li.MuiButtonBase-root.MuiListItem-root {
    font-size: 1.5em;
  }
}