.userAvatar {
    width: 60px;
    height: 60px;
    background-color: var(--main-accent-color);
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.userAvatar__initials {
    position: relative;
    top: 15px;
    font-size: 30px;
    line-height: 30px;
    color: #FFF;
    font-family: "Nunito", monospace;
    font-weight: bold;
}

.userAvatar__link {
  text-decoration: none;
  color: inherit;
}

.userAvatar__menu {
  margin-top: 4vh;
}