@import '../App/App.css';

.projects__sidebar {
    overflow-y: auto;
    line-height: normal;
}

.projects__sidebar_charts {
    background: #FFF;
    border-radius: 5px;
    padding: 2vh 0;
}

.projects__sidebar_button {
    background-image: linear-gradient(to top left, #FFF, #dcdcdc, #a9a9a9);
    color: var(--main-text-color);
    margin: 0px auto;
}

.projects__sidebar_button:hover {
    background-image: linear-gradient(to top left, #d3edc4, var(--productify-green), #b1d39d);
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 2vh 0vw;
}

.projects__sidebar_teamName {
    margin: 0;
    margin-top: 3vh;
    text-align: center;
}