@import '../App/App.css';

.projects__sidebar {
    overflow-y: auto;
    line-height: normal;
}

.projects__sidebar_charts {
    background: #FFF;
    border-radius: 5px;
    padding: 2vh 0;
}

.projects__sidebar_newTaskButton {
    background-image: linear-gradient(to bottom left, #d5e6d5, #9dd79d, var(--button-go), #d5e6d5);
    color: var(--main-text-color);
    margin: 0px auto;
}

.projects__sidebar_newTaskButton:hover {
    background-color: var(--button-go-hover);
}

.newTaskButtonContainer {
    display: flex;
    justify-self: center;
    padding: 2vh 0vw;
}

.projects__sidebar_teamName {
    margin: 0;
    text-align: center;
}