@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import '../App/App.css';

.userProfile {
    display: grid;
    grid-template-columns: 20vw 80vw;
}

.userProfile__section {
    padding: 0 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-text-color);
    margin-top: 5vh;
}

.userProfile__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.userProfile__section_info {
    height: 60%;
}

ul.userProfile__teamMemberList {
    list-style-type: none;
    margin-top: 0;
    padding-top: 0;
}

.userProfile__teamMemberList h3 {
    margin: 0 auto;
}

.userProfile__teamMemberList h4 {
    margin: 0 auto 3vh auto;
}

.userProfile__icon {
    color: var(--main-accent-color);
    cursor: pointer;
}

.userProfile__key {
    font-weight: 700;
}

.userProfile__title {
    font-family: "Poppins", sans-serif;
    letter-spacing: 1.5px;
}

#userProfile__check {
    color: var(--button-go);
}

@media only screen and (min-width: 600px) {
    .userProfile__content {
        flex-direction: row;
        justify-content: space-evenly;
    }
}
