.aboutPage__useCaseItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 64vw;
    text-align: center;
}

.aboutPage__useCaseItem {
    border-radius: 10px;
    width: 14vw;
    height: 10vw;
    margin: 1vh 1vw;
    display: flex;
    flex-direction: column;
}

.aboutPage__useCaseItemName {
    line-height: normal;
    justify-self: flex-start;
}

.aboutPage__icon {
    align-self: center;
}

.aboutPage__useCaseItem1 {
    background: rgba(255, 192, 203, 0.541);
}

.aboutPage__useCaseItem2 {
    background: rgba(218, 255, 192, 0.598);
}

.aboutPage__useCaseItem3 {
    background: rgba(192, 255, 251, 0.584);
}

.aboutPage__useCaseItem4 {
    background: rgba(227, 164, 96, 0.475);
}

.aboutPage__useCaseItem5 {
    background: rgba(234, 192, 255, 0.365);
}

.aboutPage__useCaseItem6 {
    background: rgba(235, 235, 125, 0.432);
}

.aboutPage__useCaseItem7 {
    background: rgba(255, 192, 192, 0.571);
}

.aboutPage__useCaseItem8 {
    background: rgba(192, 215, 255, 0.432);
}
