@import '../App/App.css';

.aboutPage {
    text-align: center;
}

.aboutPage__useCaseItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 70vw;
    text-align: center;
}

.aboutPage__useCaseItems {
    font-size: 1.5em;
}

.aboutPage__useCaseItem {
    border-radius: 10px;
    width: 66vw;
    height: 5vh;
    margin: 1vh 1vw;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutPage__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutPage__useCaseItemName {
    line-height: normal;
    margin: 0.5vh 0;
}

.aboutPage__useCaseItem1 {
    background: var(--productify-red);
}

.aboutPage__useCaseItem2 {
    background: var(--productify-green);
}

.aboutPage__useCaseItem3 {
    background: var(--productify-turquoise);
}

.aboutPage__useCaseItem4 {
    background: var(--productify-orange);
}

.aboutPage__useCaseItem5 {
    background: var(--productify-purple);
}

.aboutPage__useCaseItem6 {
    background: var(--productify-yellow);
}

.aboutPage__useCaseItem7 {
    background: var(--productify-pink);
}

.aboutPage__useCaseItem8 {
    background: var(--productify-blue);
}

.aboutPage__useCaseItems .aboutPage__useCaseItem{
    font-size: 40px;
}

@media only screen and (min-width: 800px) {
    .aboutPage__sectionHeader {
        font-size: 2em;
    }

    .aboutPage__useCaseItem {
        width: 30vw;
        height: 5vh;
    }

    .aboutPage__useCaseItems > * {
        font-size: 1em;
    }

    .aboutPage__useCaseItems {
        max-width: 64vw;
    }
}
